

.pointer{
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.d-flex{
    display: felx;
    flex-direction:row;
    justify-content: space-around;
}